
<%= form_for @schoolclass, :url => school_classes_path(@schoolclass),:method => 'POST' do |f| %>
  <% if  @schoolclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @school_class.errors.count, "error") %> 
        prohibited this class from being saved:</h2>
      <ul>
        <%  @schoolclass.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>